article {
	padding: 2em; 
	overflow: auto; 
	
	.image {
		overflow: hidden; 
		background: #666; position: relative; 
		margin: -2em -2em 2em -2em;


		img {
			display: block;
			width: 100%; 
			max-width: 100%;
			position:absolute; top: 50%; left: 50%;
			@include transition(.3s opacity ease);
			@include opacity(0);
		}
	}

	section.content {
		padding: 1em 0 1.5em 0; overflow: hidden; 

		p.column { 
			width: 50%;
			float: left; 
			padding: 0 1em 0 0; 

			strong { 
				text-transform: uppercase;
			}
			
			&:nth-child(2) { font-size: 0.9em; } 
		}
	}

	footer {
		padding: 0.5em 0; 
		font-size: 0.9em;
		color: #666; 
	}

	.list {
		overflow: hidden; 

		li {
			width: 50%;
			float: left;
			list-style: outside none;
			padding: 1em 0.5em; 
			
			a {		
				color: #000; 
			}

			span {
				display: block;
				float: left; 
			}

			.thumbnail {
				width: 200px; height: 200px;
				padding: 0.2em;
				background: #FFF; 
				border-radius: 6px;
				overflow: hidden;

				@include box-shadow(#666 0 0 10px); 

				img { display: block; width: 100%; height: 100%; border-radius: 4px; }
			}

			.title {
				width: 50%;
				font-size: 1.2em; 
				padding-left: 1em; 
			}
		}
	}
}

