$layoutDebug  : true;

$headerHeight: 3em;
$footerHeight: 3em;

body { padding: $headerHeight 0 $footerHeight 0; }

a { color: #369; }

html, body, #wrapper { height: 100%; overflow: hidden; }

#header, #footer {
	width: 100%; 
	position: absolute; left: 0; z-index: 10000;
	background: #FFF;

	a { color: #666; }
}

#header {
	height: $headerHeight;
	top: 0; 

	h1 {
		width: 10em; height: 100%;
		position: absolute; left: 0.6em; top: 0;
		text-indent: -1920px; 
		background: url(../images/logo.png) left center no-repeat; 
		background-size: auto 60%; 
	}

	nav {
		display: block; padding-left: 10em; 

		li { line-height: $headerHeight; }
	}

	.inner { border-bottom: 2px solid #DDD; }
}


#footer {
	height: $footerHeight;
	line-height: $footerHeight;
	bottom: 0;

	.inner { border-top: 2px solid #DDD; }
}

#banner {
	/*position: relative; */
	position: absolute; top: $headerHeight; left: 0; z-index: 1000;
	background: #FFF; 

	.panel { 
		display: block; height: 0; overflow: hidden;
		@include transition(.5s all ease);

		.col { width: 48%; float: left; }
		.description { margin-right: 4%; }
		.sidebar { }
	}

	&.open .panel {
		height: auto;
		max-height: 1000px;
		padding-bottom: 2em; 
	}

	h3 { font-size: 2.4em; color: #000; }

	#btn-explore { 
		display: block;
		padding: 0.4em 1.5em; background: #FFF; 
		position: absolute; top: 100%; left: 5%; z-index: 9999; margin: -2px 0 0 0;
		border: 2px solid #DDD; border-top: none; 

		@include border-radius(0 0 4px 4px);
	}

	.inner { border-bottom: 2px solid #DDD; padding: 1em 2em; }
}


#container {
	width: 100%; height: 100%; position: relative; 
}	
	
// --- Sections --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---
.section { 
	height: 100%; 
	overflow: hidden;

	.column {
		height: 100%;
		z-index: 900; 
		float: left; 
	}

	.column.c3b {
		@include transition(.3s all ease);
		@include opacity(0);
	}

	.column.map {
		width: 100%;
	}

	&.pin-active {

		.column.map {
			width: 35%;
			border-right: 2px solid #DDD; 
		}	

		.column.c3b {
			width: 65%;
			overflow: auto;

			@include opacity(1);
		}
	}

}

