// Turn on box-sizing border-box. This is a helper mixin from Susy
// http://susy.oddbird.net/guides/reference/#ref-border-box-mixin
@include border-box-sizing;

* { margin: 0; padding: 0; }

html, body, #wrapper { height: 100%; overflow: hidden;; }

a { text-decoration: none;  }
