@import "compass";
@import "susy";
@import "_reset";
@import "_typeplate-vars";
@import "_typeplate";
@import "_introjs";

@import "_dialog";
@import "_navigation";
@import "_forms";
@import "_buttons";
@import "_article";

body { padding: 2em 0; } 
a { color: #369; }

#header, #footer {
	display: block; 
	width: 100%; 
	height: 2em; 
	background: #090;
	position: absolute;
	left: 0;
	z-index: 10000;
	overflow: hidden; 

	a { color: #FFF; }
}

#header {
	top: 0;

	h1 {
		width: 30%;
		position: absolute; left: 1em; top: 0;
		height: 100%;
		font-size: 1em; line-height: 2em;
		background-size: contain; 
	}

	nav {
		display: block; padding-left: 10em; 

		li { line-height: 2em; }
	}

}

#footer {
	bottom: 0;

	a { line-height: 2em; }
}

#wrapper {
	 
}

$total-columns: 12;
$column-width: 100/$total-columns;
$gutter-width: 0;
$grid-padding: 0;
$container-width: 100%;
$container-style: fluid;

$break-small: 800px;

#container {
	width: 100%; height: 100%; position: relative; 
	background: #900; 
	
	.section { 
		display: none; 
		@include container;
		height: 100%; 
		overflow: hidden;

		.column {
			width: 0%; height: 100%;
			overflow: hidden; 
			position: relative;
			z-index: 900; 

			@include single-transition(all, 0.3s, linear);

			.tours & { overflow: auto; }

			&.c1 { @include span-columns(2, $total-columns); background: #900; }
			&.c2 { @include span-columns(3, $total-columns); background: #070; }
			&.c3 { @include span-columns(7, $total-columns); background: #009; }

			$c2: $total-columns - 2;
			$c1: ($total-columns - $c2)/2;
			$c3: $c1;

			@media screen and (max-width: $break-small) {
				&.c1 { @include span-columns($c1, $total-columns); }
				&.c2 { @include span-columns($c2, $total-columns); }
				&.c3 { @include span-columns($c3, $total-columns); }
			}

		}
		
   	}
}



/* --- Sections --- */
.explore .section#explore { display: block; }
