$colorBgrdNormal: #e53492;
$colorBgrdSecondary: #666;
$colorBgrd: $colorBgrdNormal;

$radiusBorder: 3px;

$paddingDefault: 2em;
$paddingMedium: 1.2*$paddingDefault;
$paddingBig: 1.8*$paddingDefault;
$paddingHuge: 2*$paddingDefault;

$iconSize: 1.7em;
$shareButtonSize: 2em;

.button {
	display: inline-block;
	padding: 0 $paddingDefault; 
	text-align: center;
	color: #EEE;
	background-color: $colorBgrdNormal;
	cursor: pointer;
	font-size: 0.9em; 
	line-height: 2.1em; 

	@include single-transition(all, 0.05s, linear);

	&:hover, &.hover {
		background: adjust-lightness($colorBgrd, -15); 
	}

	&:active, &.active {
		background: adjust-lightness($colorBgrd, -10); 
	}
	
	&.small {
		font-size: 0.8em; 
		padding: 0 1em 0 0;
		line-height: 1.8em; 
	}
	
	&.medium {
		font-size: 1em; 
		padding: 0 $paddingMedium;
		line-height: 2.4em; 
	}

	&.big {
		padding: 0 $paddingBig; 
		line-height: 2.9em; 
	}
	
	&.huge {
		padding: 0 $paddingHuge; 
		font-size: 1.2em; 
		line-height: 3.0em; 
	}
}

.button + .button { margin: 0 0 0 1em;  }
