<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/app.css">

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgYOwy86bmyVzUkMARb_hhKD-eEYngSNE&sensor=false"></script>

	<script type="text/javascript" src="js/lib/modernizr.js"></script>
	<script type="text/javascript" src="js/lib/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="js/lib/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/lib/gmaps.js"></script>
	<script type="text/javascript" src="js/lib/intro.js"></script>

	<script type="text/javascript" src="js/historypin.js"></script>
	<script type="text/javascript" src="js/dialog.js"></script>
	<script type="text/javascript" src="js/nav.js"></script>
	<script type="text/javascript" src="js/map.js"></script>

	<script type="text/javascript" src="js/app.js"></script>
</head>
<body class="explore">

	<!--{{ site.name }}-->
	<div id="wrapper">
		<header id="header">
			<h1 ><a href="/">Historypin</a></h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a class="layout-toggle" data-layout="explore" href="#">Explore</a></li>
					<li><a href="#left" class="toggle">show-left</a></li>
					<li><a href="#right" class="toggle">show-right</a></li>

					<li class="right"><a id="login-toggle" href="/user/">Login</a></li>
					<li class="right"><a id="logout-toggle" href="/user/">Logout</a></li>
					<li class="right"><a id="profile-toggle" class="layout-toggle" data-layout="profile" href="#">My Channel</a></li>
					<li class="right"><a id="pin-toggle"  class="layout-toggle" data-layout="pinner" href="#">Pin</a></li>
				</ul>
			</nav>
			<div id="search">
				<form action="#" method="post">
					<label>Search by Place</label>
					<input type="text" name="search" placeholder="e.g. London, NYC" />
					<input type="submit" class="button" value="Go" />
					<label>and in </label>
					<span class="toggle-date-filter button">Time</span>
				</form>
			</div>
		</header>
		<div id="container">	

			{{ content }}

		</div>
		<footer id="footer">
			<nav>
				<ul> 
					<li><a href="/" title="Home">Home</a></li>
					<li><a href="/about-us" title="About">About</a></li>
					<li><a href="/faq" title="FAQs">FAQs</a></li>
					<li><a href="/presscentre" title="Press Centre">Press Centre</a></li>
					<li><a href="/donate" title="Support us">Support us</a></li>
					<li><a href="/app" title="App">Mobile App</a></li>
					<li><a href="/terms-and-conditions" title="Terms of Use">Terms and Conditions</a></li>
					<li><a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
					<li><a href="/cookies" title="Privacy Policy">Cookies</a></li>
					<li><a href="/contact" title="Contact">Contact</a></li> 
					<li style="float: right;"><a href="http://wearewhatwedo.org" target="_blank">© We Are What We Do</a></li>
				</ul>
			</nav>
		</footer>

	</div>

	<div class="dialog-cover"></div>
	<div class="dialog" id="login">	
		<div class="card">
			<div class="face">

				<h3>Login with</h3>

				<a href="#" class="button medium login-button">Google+</a>
				<a href="#" class="button medium login-button">Facebook</a>
				<a href="#" class="button medium login-button">Twitter</a>

			</div>
			<div class="face help">

				<h3>Help </h3>

				<p>Proin ornare, dolor ut suscipit ultrices, enim erat laoreet mauris, a tempor metus neque in ipsum. Donec eget odio enim, a fringilla turpis. Proin molestie porttitor condimentum. Suspendisse nisi eros, vulputate a dictum nec, euismod nec mi. Praesent vel velit enim, id bibendum ligula. Vivamus vestibulum sem nec nulla volutpat consequat. Pellentesque id odio ac sem egestas pellentesque sed ac lacus.</p>
				<p>Proin ornare, dolor ut suscipit ultrices, enim erat laoreet mauris, a tempor metus neque in ipsum. Donec eget odio enim, a fringilla turpis. Proin molestie porttitor condimentum. Suspendisse nisi eros, vulputate a dictum nec, euismod nec mi. Praesent vel velit enim, id bibendum ligula. Vivamus vestibulum sem nec nulla volutpat consequat. Pellentesque id odio ac sem egestas pellentesque sed ac lacus.</p>

				<a href="#" class="button pill help-off">Close Help</a>

			</div>
		</div>
		<div class="win-btn help-on icon-help">Help</div>
		<div class="win-btn close icon-close">Close</div>
	</div>

	<div class="dialog" id="profile">	
		<div class="card">
			<div class="face">

				<hgroup>
					<h3>Your Channel</h3>
					<h2>Konstantin Dankov</h2>
				</hgroup>
				
				<p>Proin ornare, dolor ut suscipit ultrices, enim erat laoreet mauris, a tempor metus neque in ipsum. Donec eget odio enim, a fringilla turpis. Proin molestie porttitor condimentum. Suspendisse nisi eros, vulputate a dictum nec, euismod nec mi. Praesent vel velit enim, id bibendum ligula. Vivamus vestibulum sem nec nulla volutpat consequat. Pellentesque id odio ac sem egestas pellentesque sed ac lacus.</p>
				<p>Proin ornare, dolor ut suscipit ultrices, enim erat laoreet mauris, a tempor metus neque in ipsum. Donec eget odio enim, a fringilla turpis. Proin molestie porttitor condimentum. Suspendisse nisi eros, vulputate a dictum nec, euismod nec mi. Praesent vel velit enim, id bibendum ligula. Vivamus vestibulum sem nec nulla volutpat consequat. Pellentesque id odio ac sem egestas pellentesque sed ac lacus.</p>

				<a href="#" class="button help-on">Edit Profile</a>

			</div>
			<div class="face help">

				<h3>Edit Profile</h3>
				
				<form action="#" method="post">
				    <div class="field">
				        <label>Name</label>
				        <input type="text" name="" value="" />
				    </div>
				    <div class="field">
				        <label>Description</label>
				        <textarea name=""></textarea>
				    </div>
				</form>

				<a href="#" class="button pill help-off">Submit</a>

			</div>
		</div>
		<div class="win-btn help-on icon-help">Help</div>
		<div class="win-btn close icon-close">Close</div>
	</div>

</body>
</html>
